.auto-invest-with-balance-page {
  .HeaderContainer {
    padding: 0;
  }
  .list {
    display: flex;
    padding: .4rem 0 0;
    .list-item {
      flex: 1;
      text-align: center;
    }
    .list-item-title {
      color: #d7eafc;
      font-size: .24rem;
    }
    .list-item-value {
      padding: .24rem 0 .26rem;
      font-size: .42rem;
      color: #fff217;
    }
  }
  .header-footer {
    padding-bottom: .4rem;
    color: #fff;
    font-size: .24rem;
    text-align: center;
  }
  .invest-list-container {
    margin-bottom: 1.2rem;
  }
  .InvestItemContainer {
    .middle {
      input {
        display: block;
        padding-top: 3px;
        height: .7rem;
        width: 100%;
        text-align: center;
        color: #1a1a1a;
        font-size: .26rem;
        outline: 0;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      .profit-info {
        padding-top: .2rem;
        color: #6f6f6f;
        font-size: .24rem;
      }
    }
  }
  .modal-header {
    color: #333;
  }
  .modal-content {
    input {
      width: 3.6rem;
      height: .64rem;
      font-size: .28rem;
      color: #333;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: .08rem;
      outline: 0;
    }
  }
}
