.auto-invest-explain-page {
  margin-bottom: 1rem;
  .content-wrapper {
    margin: .28rem .28rem 0;
    padding: .32rem .28rem;
    font-size: 16px;
    background-color: #fff;
    font-family: 'Microsoft YaHei';
    .title {
      color: #f5322f;
      font-size: 18px;
    }
    span {
      color: #666;
      line-height: 20px;
    }
  }
}
